In [37]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [38]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [39]:
train_df.drop(['PassengerId','Name', 'Ticket','Cabin','Embarked'], axis=1, inplace=True)

In [40]:
train_df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare
0           0       3    male  22.0      1      0    7.2500
1           1       1  female  38.0      1      0   71.2833
2           1       3  female  26.0      0      0    7.9250
3           1       1  female  35.0      1      0   53.1000
4           0       3    male  35.0      0      0    8.0500
5           0       3    male   NaN      0      0    8.4583
6           0       1    male  54.0      0      0   51.8625
7           0       3    male   2.0      3      1   21.0750
8           1       3  female  27.0      0      2   11.1333
9           1       2  female  14.0      1      0   30.0708
10          1       3  female   4.0      1      1   16.7000
11          1       1  female  58.0      0      0   26.5500
12          0       3    male  20.0      0      0    8.0500
13          0       3    male  39.0      1      5   31.2750
14          0       3  female  14.0      0      0    7.8542
15          1       2  female  55.0      0      0   16.0000
16          0       3    male   2.0      4      1   29.1250
17          1       2    male   NaN      0      0   13.0000
18          0       3  female  31.0      1      0   18.0000
19          1       3  female   NaN      0      0    7.2250
20          0       2    male  35.0      0      0   26.0000
21          1       2    male  34.0      0      0   13.0000
22          1       3  female  15.0      0      0    8.0292
23          1       1    male  28.0      0      0   35.5000
24          0       3  female   8.0      3      1   21.0750
25          1       3  female  38.0      1      5   31.3875
26          0       3    male   NaN      0      0    7.2250
27          0       1    male  19.0      3      2  263.0000
28          1       3  female   NaN      0      0    7.8792
29          0       3    male   NaN      0      0    7.8958
..        ...     ...     ...   ...    ...    ...       ...
861         0       2    male  21.0      1      0   11.5000
862         1       1  female  48.0      0      0   25.9292
863         0       3  female   NaN      8      2   69.5500
864         0       2    male  24.0      0      0   13.0000
865         1       2  female  42.0      0      0   13.0000
866         1       2  female  27.0      1      0   13.8583
867         0       1    male  31.0      0      0   50.4958
868         0       3    male   NaN      0      0    9.5000
869         1       3    male   4.0      1      1   11.1333
870         0       3    male  26.0      0      0    7.8958
871         1       1  female  47.0      1      1   52.5542
872         0       1    male  33.0      0      0    5.0000
873         0       3    male  47.0      0      0    9.0000
874         1       2  female  28.0      1      0   24.0000
875         1       3  female  15.0      0      0    7.2250
876         0       3    male  20.0      0      0    9.8458
877         0       3    male  19.0      0      0    7.8958
878         0       3    male   NaN      0      0    7.8958
879         1       1  female  56.0      0      1   83.1583
880         1       2  female  25.0      0      1   26.0000
881         0       3    male  33.0      0      0    7.8958
882         0       3  female  22.0      0      0   10.5167
883         0       2    male  28.0      0      0   10.5000
884         0       3    male  25.0      0      0    7.0500
885         0       3  female  39.0      0      5   29.1250
886         0       2    male  27.0      0      0   13.0000
887         1       1  female  19.0      0      0   30.0000
888         0       3  female   NaN      1      2   23.4500
889         1       1    male  26.0      0      0   30.0000
890         0       3    male  32.0      0      0    7.7500

[891 rows x 7 columns]

In [41]:
train_df['m'] = train_df['Sex'] == 'male'

In [42]:
train_df

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare      m
0           0       3    male  22.0      1      0    7.2500   True
1           1       1  female  38.0      1      0   71.2833  False
2           1       3  female  26.0      0      0    7.9250  False
3           1       1  female  35.0      1      0   53.1000  False
4           0       3    male  35.0      0      0    8.0500   True
5           0       3    male   NaN      0      0    8.4583   True
6           0       1    male  54.0      0      0   51.8625   True
7           0       3    male   2.0      3      1   21.0750   True
8           1       3  female  27.0      0      2   11.1333  False
9           1       2  female  14.0      1      0   30.0708  False
10          1       3  female   4.0      1      1   16.7000  False
11          1       1  female  58.0      0      0   26.5500  False
12          0       3    male  20.0      0      0    8.0500   True
13          0       3    male  39.0      1      5   31.2750   True
14          0       3  female  14.0      0      0    7.8542  False
15          1       2  female  55.0      0      0   16.0000  False
16          0       3    male   2.0      4      1   29.1250   True
17          1       2    male   NaN      0      0   13.0000   True
18          0       3  female  31.0      1      0   18.0000  False
19          1       3  female   NaN      0      0    7.2250  False
20          0       2    male  35.0      0      0   26.0000   True
21          1       2    male  34.0      0      0   13.0000   True
22          1       3  female  15.0      0      0    8.0292  False
23          1       1    male  28.0      0      0   35.5000   True
24          0       3  female   8.0      3      1   21.0750  False
25          1       3  female  38.0      1      5   31.3875  False
26          0       3    male   NaN      0      0    7.2250   True
27          0       1    male  19.0      3      2  263.0000   True
28          1       3  female   NaN      0      0    7.8792  False
29          0       3    male   NaN      0      0    7.8958   True
..        ...     ...     ...   ...    ...    ...       ...    ...
861         0       2    male  21.0      1      0   11.5000   True
862         1       1  female  48.0      0      0   25.9292  False
863         0       3  female   NaN      8      2   69.5500  False
864         0       2    male  24.0      0      0   13.0000   True
865         1       2  female  42.0      0      0   13.0000  False
866         1       2  female  27.0      1      0   13.8583  False
867         0       1    male  31.0      0      0   50.4958   True
868         0       3    male   NaN      0      0    9.5000   True
869         1       3    male   4.0      1      1   11.1333   True
870         0       3    male  26.0      0      0    7.8958   True
871         1       1  female  47.0      1      1   52.5542  False
872         0       1    male  33.0      0      0    5.0000   True
873         0       3    male  47.0      0      0    9.0000   True
874         1       2  female  28.0      1      0   24.0000  False
875         1       3  female  15.0      0      0    7.2250  False
876         0       3    male  20.0      0      0    9.8458   True
877         0       3    male  19.0      0      0    7.8958   True
878         0       3    male   NaN      0      0    7.8958   True
879         1       1  female  56.0      0      1   83.1583  False
880         1       2  female  25.0      0      1   26.0000  False
881         0       3    male  33.0      0      0    7.8958   True
882         0       3  female  22.0      0      0   10.5167  False
883         0       2    male  28.0      0      0   10.5000   True
884         0       3    male  25.0      0      0    7.0500   True
885         0       3  female  39.0      0      5   29.1250  False
886         0       2    male  27.0      0      0   13.0000   True
887         1       1  female  19.0      0      0   30.0000  False
888         0       3  female   NaN      1      2   23.4500  False
889         1       1    male  26.0      0      0   30.0000   True
890         0       3    male  32.0      0      0    7.7500   True

[891 rows x 8 columns]

In [43]:
train_df['f'] = train_df['m'] == False

In [44]:
train_df.drop(['Sex'], axis=1, inplace=True)

In [45]:
mean = train_df['Age'].mean(skipna=True)
train_df['Age'].fillna(value=mean, inplace=True)

In [46]:
train_df

     Survived  Pclass        Age  SibSp  Parch      Fare      m      f
0           0       3  22.000000      1      0    7.2500   True  False
1           1       1  38.000000      1      0   71.2833  False   True
2           1       3  26.000000      0      0    7.9250  False   True
3           1       1  35.000000      1      0   53.1000  False   True
4           0       3  35.000000      0      0    8.0500   True  False
5           0       3  29.699118      0      0    8.4583   True  False
6           0       1  54.000000      0      0   51.8625   True  False
7           0       3   2.000000      3      1   21.0750   True  False
8           1       3  27.000000      0      2   11.1333  False   True
9           1       2  14.000000      1      0   30.0708  False   True
10          1       3   4.000000      1      1   16.7000  False   True
11          1       1  58.000000      0      0   26.5500  False   True
12          0       3  20.000000      0      0    8.0500   True  False
13          0       3  39.000000      1      5   31.2750   True  False
14          0       3  14.000000      0      0    7.8542  False   True
15          1       2  55.000000      0      0   16.0000  False   True
16          0       3   2.000000      4      1   29.1250   True  False
17          1       2  29.699118      0      0   13.0000   True  False
18          0       3  31.000000      1      0   18.0000  False   True
19          1       3  29.699118      0      0    7.2250  False   True
20          0       2  35.000000      0      0   26.0000   True  False
21          1       2  34.000000      0      0   13.0000   True  False
22          1       3  15.000000      0      0    8.0292  False   True
23          1       1  28.000000      0      0   35.5000   True  False
24          0       3   8.000000      3      1   21.0750  False   True
25          1       3  38.000000      1      5   31.3875  False   True
26          0       3  29.699118      0      0    7.2250   True  False
27          0       1  19.000000      3      2  263.0000   True  False
28          1       3  29.699118      0      0    7.8792  False   True
29          0       3  29.699118      0      0    7.8958   True  False
..        ...     ...        ...    ...    ...       ...    ...    ...
861         0       2  21.000000      1      0   11.5000   True  False
862         1       1  48.000000      0      0   25.9292  False   True
863         0       3  29.699118      8      2   69.5500  False   True
864         0       2  24.000000      0      0   13.0000   True  False
865         1       2  42.000000      0      0   13.0000  False   True
866         1       2  27.000000      1      0   13.8583  False   True
867         0       1  31.000000      0      0   50.4958   True  False
868         0       3  29.699118      0      0    9.5000   True  False
869         1       3   4.000000      1      1   11.1333   True  False
870         0       3  26.000000      0      0    7.8958   True  False
871         1       1  47.000000      1      1   52.5542  False   True
872         0       1  33.000000      0      0    5.0000   True  False
873         0       3  47.000000      0      0    9.0000   True  False
874         1       2  28.000000      1      0   24.0000  False   True
875         1       3  15.000000      0      0    7.2250  False   True
876         0       3  20.000000      0      0    9.8458   True  False
877         0       3  19.000000      0      0    7.8958   True  False
878         0       3  29.699118      0      0    7.8958   True  False
879         1       1  56.000000      0      1   83.1583  False   True
880         1       2  25.000000      0      1   26.0000  False   True
881         0       3  33.000000      0      0    7.8958   True  False
882         0       3  22.000000      0      0   10.5167  False   True
883         0       2  28.000000      0      0   10.5000   True  False
884         0       3  25.000000      0      0    7.0500   True  False
885         0       3  39.000000      0      5   29.1250  False   True
886         0       2  27.000000      0      0   13.0000   True  False
887         1       1  19.000000      0      0   30.0000  False   True
888         0       3  29.699118      1      2   23.4500  False   True
889         1       1  26.000000      0      0   30.0000   True  False
890         0       3  32.000000      0      0    7.7500   True  False

[891 rows x 8 columns]

In [47]:
clf = RandomForestClassifier(n_jobs=2, random_state=0)
y = train_df['Survived']
x = train_df.iloc[:,2:]
clf.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [48]:
test_df.drop(['Name','Ticket','Cabin','Embarked'], axis=1, inplace=True)
test_df['m'] = test_df['Sex'] == 'male'
test_df['f'] = test_df['m'] == False
mean = test_df['Age'].mean(skipna=True)
test_df['Age'].fillna(value=mean, inplace=True)
mean = test_df['Fare'].mean(skipna=True)
test_df['Fare'].fillna(value=mean, inplace=True)

In [49]:
result = clf.predict(test_df.iloc[:,2:])
final = list(zip(test_df['PassengerId'], result))
final_prediction = pd.DataFrame(final, columns=['PassengerId', 'Survived'])
final_prediction.to_csv('final_prediction.csv', index=False)

ValueError: could not convert string to float: 'male'